*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 700px;
    margin: auto;
    width: 500px;
    padding: 40px;
}

.display {
    flex: 1 0 0;
    border: 1px solid black;
    margin-bottom: 30px;
    text-align: end;
    align-content: center;
    font-size: 80px;
}

.buttons {
    flex-grow: 3;
    display: flex;
    gap: 35px;
}

.left-buttons {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-row {
    flex: auto;
    display: flex;
    gap: 10px;
}

.button-row button {
    flex: 1;
    font-size: 24px;
    padding: 0px;
    border: 0px;
}

.right-buttons {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
